{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>BlackFox Nutrition</title>
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <div class="logo">
        <h1>Hi</h1>
        <img src="" alt="" />
      </div>
    </nav>
    {% block content %}
    <!--  -->
    {% endblock %}
  </body>
</html>
